<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>weight</mat-label>
		    <input matInput ngDefaultControl placeholder="weight" name="weight" [(ngModel)]="weight">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>questionText</mat-label>
		    <input matInput ngDefaultControl placeholder="questionText" name="questionText" [(ngModel)]="questionText">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>identifier</mat-label>
		    <input matInput ngDefaultControl placeholder="identifier" name="identifier" [(ngModel)]="identifier">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-checkbox name="mustBeAnswered" ngDefaultControl [(ngModel)]="mustBeAnswered">mustBeAnswered</mat-checkbox>
<p>
		<mat-checkbox name="responseExclusive" ngDefaultControl [(ngModel)]="responseExclusive">responseExclusive</mat-checkbox>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Responses</mat-label>
			<mat-select placeholder="Responses" multiple [(ngModel)]="Responses">
		    	<mat-option name="Responses" ngDefaultControl  
		    		*ngFor="let responseOption of responseOptions"		    		 
		    		[value]="responseOption._id">
		      		{{responseOption.responseText}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
            <button 
		    (click)="addQuestion(weight, questionText, identifier, mustBeAnswered == true ? true : false, responseExclusive == true ? true : false, Responses)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
