<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
		    <mat-label>dateLastUpdated</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="dateLastUpdated" name="dateLastUpdated" [(ngModel)]="dateLastUpdated">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
		<mat-checkbox name="active" ngDefaultControl [(ngModel)]="active">active</mat-checkbox>
<p>
		<mat-form-field appearance="legacy">
		    <mat-label>dateTimeLastViewedExternally</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="dateTimeLastViewedExternally" name="dateTimeLastViewedExternally" [(ngModel)]="dateTimeLastViewedExternally">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
		<mat-checkbox name="makeViewableToUser" ngDefaultControl [(ngModel)]="makeViewableToUser">makeViewableToUser</mat-checkbox>
<p>
		<mat-form-field appearance="legacy">
		    <mat-label>dateLastSent</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="dateLastSent" name="dateLastSent" [(ngModel)]="dateLastSent">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
		<input matInput placeholder="numDaysToExpire" name="numDaysToExpire "[(ngModel)]="numDaysToExpire">
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>QuestionGroup</mat-label>
			<mat-select placeholder="QuestionGroup"  [(ngModel)]="QuestionGroup">
		    	<mat-option name="QuestionGroup" ngDefaultControl  
		    		*ngFor="let questionGroup of questionGroups"		    		 
		    		[value]="questionGroup._id">
		      		{{questionGroup.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
		    <mat-label>Status</mat-label>
			<mat-select placeholder="Status" name="Status" [(ngModel)]="Status">
		    	<mat-option ngDefaultControl *ngFor="let ReferenceStatus of ReferenceStatuss" [value]="ReferenceStatus">
		      		{{ReferenceStatus}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
		    <mat-label>Type</mat-label>
			<mat-select placeholder="Type" name="Type" [(ngModel)]="Type">
		    	<mat-option ngDefaultControl *ngFor="let Purpose of Purposes" [value]="Purpose">
		      		{{Purpose}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>User</mat-label>
			<mat-select placeholder="User"  [(ngModel)]="User">
		    	<mat-option name="User" ngDefaultControl  
		    		*ngFor="let user of users"		    		 
		    		[value]="user._id">
		      		{{user.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Referrer</mat-label>
			<mat-select placeholder="Referrer"  [(ngModel)]="Referrer">
		    	<mat-option name="Referrer" ngDefaultControl  
		    		*ngFor="let referrer of referrers"		    		 
		    		[value]="referrer._id">
		      		{{referrer.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Answers</mat-label>
			<mat-select placeholder="Answers" multiple [(ngModel)]="Answers">
		    	<mat-option name="Answers" ngDefaultControl  
		    		*ngFor="let answer of answers"		    		 
		    		[value]="answer._id">
		      		{{answer.Question}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>LastQuestionAnswered</mat-label>
			<mat-select placeholder="LastQuestionAnswered"  [(ngModel)]="LastQuestionAnswered">
		    	<mat-option name="LastQuestionAnswered" ngDefaultControl  
		    		*ngFor="let question of questions"		    		 
		    		[value]="question._id">
		      		{{question.weight}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                   <button 
		    (click)="addReferenceGiver(dateLastUpdated, active == true ? true : false, dateTimeLastViewedExternally, makeViewableToUser == true ? true : false, dateLastSent, numDaysToExpire, QuestionGroup, Status, Type, User, Referrer, Answers, LastQuestionAnswered)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
