<h5>ReferenceGroupLink List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">dateLinkCreated</td>
			<td style="text-align:center">name</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let referenceGroupLink of referenceGroupLinks" style="text-align:center">
			<td style="vertical-align:middle">{{ referenceGroupLink.dateLinkCreated }}</td>
			<td style="vertical-align:middle">{{ referenceGroupLink.name }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editReferenceGroupLink', referenceGroupLink._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteReferenceGroupLink(referenceGroupLink._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
