<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="name" [(ngModel)]="name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-checkbox name="active" ngDefaultControl [(ngModel)]="active">active</mat-checkbox>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>MainQuestionGroup</mat-label>
			<mat-select placeholder="MainQuestionGroup"  [(ngModel)]="MainQuestionGroup">
		    	<mat-option name="MainQuestionGroup" ngDefaultControl  
		    		*ngFor="let questionGroup of questionGroups"		    		 
		    		[value]="questionGroup._id">
		      		{{questionGroup.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
		    <mat-label>Purpose</mat-label>
			<mat-select placeholder="Purpose" name="Purpose" [(ngModel)]="Purpose">
		    	<mat-option ngDefaultControl *ngFor="let Purpose of Purposes" [value]="Purpose">
		      		{{Purpose}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
           <button 
		    (click)="addReferenceEngine(name, active == true ? true : false, MainQuestionGroup, Purpose)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
