<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>firstName</mat-label>
		    <input matInput ngDefaultControl placeholder="firstName" name="referrer.firstName" [(ngModel)]="referrer.firstName">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>lastName</mat-label>
		    <input matInput ngDefaultControl placeholder="lastName" name="referrer.lastName" [(ngModel)]="referrer.lastName">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>emailAddress</mat-label>
		    <input matInput ngDefaultControl placeholder="emailAddress" name="referrer.emailAddress" [(ngModel)]="referrer.emailAddress">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-checkbox name="referrer.active" ngDefaultControl [(ngModel)]="referrer.active">active</mat-checkbox>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Comments</mat-label>
			<mat-select placeholder="Comments" multiple  [compareWith]="compareFn"  [(ngModel)]="referrer.Comments">
		    	<mat-option name="referrer.Comments" ngDefaultControl  
		    		*ngFor="let comment of comments"		    		 
		    		[value]="comment._id">
		      		{{comment.commentText}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                 <button 
		    (click)="updateReferrer(referrer.firstName, referrer.lastName, referrer.emailAddress, referrer.active == true ? true : false, referrer.Comments)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
