<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
		    <mat-label>dateLastUpdated</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="dateLastUpdated" name="referenceGiver.dateLastUpdated" [(ngModel)]="referenceGiver.dateLastUpdated">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
 		<mat-checkbox name="referenceGiver.active" ngDefaultControl [(ngModel)]="referenceGiver.active">active</mat-checkbox>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>dateTimeLastViewedExternally</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="dateTimeLastViewedExternally" name="referenceGiver.dateTimeLastViewedExternally" [(ngModel)]="referenceGiver.dateTimeLastViewedExternally">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
 		<mat-checkbox name="referenceGiver.makeViewableToUser" ngDefaultControl [(ngModel)]="referenceGiver.makeViewableToUser">makeViewableToUser</mat-checkbox>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>dateLastSent</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="dateLastSent" name="referenceGiver.dateLastSent" [(ngModel)]="referenceGiver.dateLastSent">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
 		<input matInput placeholder="numDaysToExpire" name="referenceGiver.numDaysToExpire "[(ngModel)]="referenceGiver.numDaysToExpire">
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>QuestionGroup</mat-label>
			<mat-select placeholder="QuestionGroup"   [compareWith]="compareFn"  [(ngModel)]="referenceGiver.QuestionGroup">
		    	<mat-option name="referenceGiver.QuestionGroup" ngDefaultControl  
		    		*ngFor="let questionGroup of questionGroups"		    		 
		    		[value]="questionGroup._id">
		      		{{questionGroup.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>Status</mat-label>
			<mat-select placeholder="Status" name="referenceGiver.Status" [(ngModel)]="referenceGiver.Status">
		    	<mat-option ngDefaultControl *ngFor="let ReferenceStatus of ReferenceStatuss" [value]="ReferenceStatus">
		      		{{ReferenceStatus}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>Type</mat-label>
			<mat-select placeholder="Type" name="referenceGiver.Type" [(ngModel)]="referenceGiver.Type">
		    	<mat-option ngDefaultControl *ngFor="let Purpose of Purposes" [value]="Purpose">
		      		{{Purpose}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>User</mat-label>
			<mat-select placeholder="User"   [compareWith]="compareFn"  [(ngModel)]="referenceGiver.User">
		    	<mat-option name="referenceGiver.User" ngDefaultControl  
		    		*ngFor="let user of users"		    		 
		    		[value]="user._id">
		      		{{user.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Referrer</mat-label>
			<mat-select placeholder="Referrer"   [compareWith]="compareFn"  [(ngModel)]="referenceGiver.Referrer">
		    	<mat-option name="referenceGiver.Referrer" ngDefaultControl  
		    		*ngFor="let referrer of referrers"		    		 
		    		[value]="referrer._id">
		      		{{referrer.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Answers</mat-label>
			<mat-select placeholder="Answers" multiple  [compareWith]="compareFn"  [(ngModel)]="referenceGiver.Answers">
		    	<mat-option name="referenceGiver.Answers" ngDefaultControl  
		    		*ngFor="let answer of answers"		    		 
		    		[value]="answer._id">
		      		{{answer.Question}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>LastQuestionAnswered</mat-label>
			<mat-select placeholder="LastQuestionAnswered"   [compareWith]="compareFn"  [(ngModel)]="referenceGiver.LastQuestionAnswered">
		    	<mat-option name="referenceGiver.LastQuestionAnswered" ngDefaultControl  
		    		*ngFor="let question of questions"		    		 
		    		[value]="question._id">
		      		{{question.weight}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                                <button 
		    (click)="updateReferenceGiver(referenceGiver.dateLastUpdated, referenceGiver.active == true ? true : false, referenceGiver.dateTimeLastViewedExternally, referenceGiver.makeViewableToUser == true ? true : false, referenceGiver.dateLastSent, referenceGiver.numDaysToExpire, referenceGiver.QuestionGroup, referenceGiver.Status, referenceGiver.Type, referenceGiver.User, referenceGiver.Referrer, referenceGiver.Answers, referenceGiver.LastQuestionAnswered)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
