<h5>ReferrerGroup List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">name</td>
			<td style="text-align:center">dateTimeLastViewedExternally</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let referrerGroup of referrerGroups" style="text-align:center">
			<td style="vertical-align:middle">{{ referrerGroup.name }}</td>
			<td style="vertical-align:middle">{{ referrerGroup.dateTimeLastViewedExternally }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editReferrerGroup', referrerGroup._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteReferrerGroup(referrerGroup._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
