<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<input matInput placeholder="refObjId" name="activity.refObjId "[(ngModel)]="activity.refObjId">
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>createDateTime</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="createDateTime" name="activity.createDateTime" [(ngModel)]="activity.createDateTime">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>Type</mat-label>
			<mat-select placeholder="Type" name="activity.Type" [(ngModel)]="activity.Type">
		    	<mat-option ngDefaultControl *ngFor="let ActivityType of ActivityTypes" [value]="ActivityType">
		      		{{ActivityType}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>User</mat-label>
			<mat-select placeholder="User"   [compareWith]="compareFn"  [(ngModel)]="activity.User">
		    	<mat-option name="activity.User" ngDefaultControl  
		    		*ngFor="let user of users"		    		 
		    		[value]="user._id">
		      		{{user.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                <button 
		    (click)="updateActivity(activity.refObjId, activity.createDateTime, activity.Type, activity.User)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
