<h5>User List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">firstName</td>
			<td style="text-align:center">lastName</td>
			<td style="text-align:center">emailAddress</td>
			<td style="text-align:center">active</td>
			<td style="text-align:center">password</td>
			<td style="text-align:center">resumeLinkUrl</td>
			<td style="text-align:center">linkedInUrl</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of users" style="text-align:center">
			<td style="vertical-align:middle">{{ user.firstName }}</td>
			<td style="vertical-align:middle">{{ user.lastName }}</td>
			<td style="vertical-align:middle">{{ user.emailAddress }}</td>
			<td style="vertical-align:middle">{{ user.active }}</td>
			<td style="vertical-align:middle">{{ user.password }}</td>
			<td style="vertical-align:middle">{{ user.resumeLinkUrl }}</td>
			<td style="vertical-align:middle">{{ user.linkedInUrl }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editUser', user._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteUser(user._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
