<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>aggregateScore</mat-label>
		    <input matInput ngDefaultControl placeholder="aggregateScore" name="questionGroup.aggregateScore" [(ngModel)]="questionGroup.aggregateScore">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>weight</mat-label>
		    <input matInput ngDefaultControl placeholder="weight" name="questionGroup.weight" [(ngModel)]="questionGroup.weight">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="questionGroup.name" [(ngModel)]="questionGroup.name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Questions</mat-label>
			<mat-select placeholder="Questions" multiple  [compareWith]="compareFn"  [(ngModel)]="questionGroup.Questions">
		    	<mat-option name="questionGroup.Questions" ngDefaultControl  
		    		*ngFor="let question of questions"		    		 
		    		[value]="question._id">
		      		{{question.weight}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>QuestionGroups</mat-label>
			<mat-select placeholder="QuestionGroups" multiple  [compareWith]="compareFn"  [(ngModel)]="questionGroup.QuestionGroups">
		    	<mat-option name="questionGroup.QuestionGroups" ngDefaultControl  
		    		*ngFor="let questionGroup of questionGroups"		    		 
		    		[value]="questionGroup._id">
		      		{{questionGroup.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                  <button 
		    (click)="updateQuestionGroup(questionGroup.aggregateScore, questionGroup.weight, questionGroup.name, questionGroup.Questions, questionGroup.QuestionGroups)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
