<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>firstName</mat-label>
		    <input matInput ngDefaultControl placeholder="firstName" name="firstName" [(ngModel)]="firstName">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>lastName</mat-label>
		    <input matInput ngDefaultControl placeholder="lastName" name="lastName" [(ngModel)]="lastName">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>emailAddress</mat-label>
		    <input matInput ngDefaultControl placeholder="emailAddress" name="emailAddress" [(ngModel)]="emailAddress">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-checkbox name="active" ngDefaultControl [(ngModel)]="active">active</mat-checkbox>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Comments</mat-label>
			<mat-select placeholder="Comments" multiple [(ngModel)]="Comments">
		    	<mat-option name="Comments" ngDefaultControl  
		    		*ngFor="let comment of comments"		    		 
		    		[value]="comment._id">
		      		{{comment.commentText}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
            <button 
		    (click)="addReferrer(firstName, lastName, emailAddress, active == true ? true : false, Comments)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
