<h5>Question List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">weight</td>
			<td style="text-align:center">questionText</td>
			<td style="text-align:center">identifier</td>
			<td style="text-align:center">mustBeAnswered</td>
			<td style="text-align:center">responseExclusive</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let question of questions" style="text-align:center">
			<td style="vertical-align:middle">{{ question.weight }}</td>
			<td style="vertical-align:middle">{{ question.questionText }}</td>
			<td style="vertical-align:middle">{{ question.identifier }}</td>
			<td style="vertical-align:middle">{{ question.mustBeAnswered }}</td>
			<td style="vertical-align:middle">{{ question.responseExclusive }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editQuestion', question._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteQuestion(question._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
