<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>responseText</mat-label>
		    <input matInput ngDefaultControl placeholder="responseText" name="responseOption.responseText" [(ngModel)]="responseOption.responseText">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>gotoQuestionId</mat-label>
		    <input matInput ngDefaultControl placeholder="gotoQuestionId" name="responseOption.gotoQuestionId" [(ngModel)]="responseOption.gotoQuestionId">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
            <button 
		    (click)="updateResponseOption(responseOption.responseText, responseOption.gotoQuestionId)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
