<h5>Admin List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">loginId</td>
			<td style="text-align:center">password</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let admin of admins" style="text-align:center">
			<td style="vertical-align:middle">{{ admin.loginId }}</td>
			<td style="vertical-align:middle">{{ admin.password }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editAdmin', admin._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteAdmin(admin._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
