<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="referrerGroup.name" [(ngModel)]="referrerGroup.name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>dateTimeLastViewedExternally</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="dateTimeLastViewedExternally" name="referrerGroup.dateTimeLastViewedExternally" [(ngModel)]="referrerGroup.dateTimeLastViewedExternally">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>References</mat-label>
			<mat-select placeholder="References" multiple  [compareWith]="compareFn"  [(ngModel)]="referrerGroup.References">
		    	<mat-option name="referrerGroup.References" ngDefaultControl  
		    		*ngFor="let referenceGiver of referenceGivers"		    		 
		    		[value]="referenceGiver._id">
		      		{{referenceGiver.dateLastUpdated}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
              <button 
		    (click)="updateReferrerGroup(referrerGroup.name, referrerGroup.dateTimeLastViewedExternally, referrerGroup.References)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
