<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>firstName</mat-label>
		    <input matInput ngDefaultControl placeholder="firstName" name="firstName" [(ngModel)]="firstName">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>lastName</mat-label>
		    <input matInput ngDefaultControl placeholder="lastName" name="lastName" [(ngModel)]="lastName">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>emailAddress</mat-label>
		    <input matInput ngDefaultControl placeholder="emailAddress" name="emailAddress" [(ngModel)]="emailAddress">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-checkbox name="active" ngDefaultControl [(ngModel)]="active">active</mat-checkbox>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Comments</mat-label>
			<mat-select placeholder="Comments" multiple [(ngModel)]="Comments">
		    	<mat-option name="Comments" ngDefaultControl  
		    		*ngFor="let comment of comments"		    		 
		    		[value]="comment._id">
		      		{{comment.commentText}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>password</mat-label>
		    <input matInput ngDefaultControl placeholder="password" name="password" [(ngModel)]="password">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>resumeLinkUrl</mat-label>
		    <input matInput ngDefaultControl placeholder="resumeLinkUrl" name="resumeLinkUrl" [(ngModel)]="resumeLinkUrl">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>linkedInUrl</mat-label>
		    <input matInput ngDefaultControl placeholder="linkedInUrl" name="linkedInUrl" [(ngModel)]="linkedInUrl">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>ReferenceProviders</mat-label>
			<mat-select placeholder="ReferenceProviders" multiple [(ngModel)]="ReferenceProviders">
		    	<mat-option name="ReferenceProviders" ngDefaultControl  
		    		*ngFor="let referrer of referrers"		    		 
		    		[value]="referrer._id">
		      		{{referrer.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>RefererGroups</mat-label>
			<mat-select placeholder="RefererGroups" multiple [(ngModel)]="RefererGroups">
		    	<mat-option name="RefererGroups" ngDefaultControl  
		    		*ngFor="let referrerGroup of referrerGroups"		    		 
		    		[value]="referrerGroup._id">
		      		{{referrerGroup.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>ReferenceReceivers</mat-label>
			<mat-select placeholder="ReferenceReceivers" multiple [(ngModel)]="ReferenceReceivers">
		    	<mat-option name="ReferenceReceivers" ngDefaultControl  
		    		*ngFor="let referrer of referrers"		    		 
		    		[value]="referrer._id">
		      		{{referrer.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>ReferenceGroupLinks</mat-label>
			<mat-select placeholder="ReferenceGroupLinks" multiple [(ngModel)]="ReferenceGroupLinks">
		    	<mat-option name="ReferenceGroupLinks" ngDefaultControl  
		    		*ngFor="let referenceGroupLink of referenceGroupLinks"		    		 
		    		[value]="referenceGroupLink._id">
		      		{{referenceGroupLink.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                   <button 
		    (click)="addUser(firstName, lastName, emailAddress, active == true ? true : false, Comments, password, resumeLinkUrl, linkedInUrl, ReferenceProviders, RefererGroups, ReferenceReceivers, ReferenceGroupLinks)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
