<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>weight</mat-label>
		    <input matInput ngDefaultControl placeholder="weight" name="question.weight" [(ngModel)]="question.weight">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>questionText</mat-label>
		    <input matInput ngDefaultControl placeholder="questionText" name="question.questionText" [(ngModel)]="question.questionText">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>identifier</mat-label>
		    <input matInput ngDefaultControl placeholder="identifier" name="question.identifier" [(ngModel)]="question.identifier">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
 		<mat-checkbox name="question.mustBeAnswered" ngDefaultControl [(ngModel)]="question.mustBeAnswered">mustBeAnswered</mat-checkbox>
<p>
 		<mat-checkbox name="question.responseExclusive" ngDefaultControl [(ngModel)]="question.responseExclusive">responseExclusive</mat-checkbox>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Responses</mat-label>
			<mat-select placeholder="Responses" multiple  [compareWith]="compareFn"  [(ngModel)]="question.Responses">
		    	<mat-option name="question.Responses" ngDefaultControl  
		    		*ngFor="let responseOption of responseOptions"		    		 
		    		[value]="responseOption._id">
		      		{{responseOption.responseText}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                  <button 
		    (click)="updateQuestion(question.weight, question.questionText, question.identifier, question.mustBeAnswered == true ? true : false, question.responseExclusive == true ? true : false, question.Responses)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
