<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
		<mat-form-field appearance="legacy">
    		<mat-label>Question</mat-label>
			<mat-select placeholder="Question"  [(ngModel)]="Question">
		    	<mat-option name="Question" ngDefaultControl  
		    		*ngFor="let question of questions"		    		 
		    		[value]="question._id">
		      		{{question.weight}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
		<mat-form-field appearance="legacy">
    		<mat-label>Response</mat-label>
			<mat-select placeholder="Response"  [(ngModel)]="Response">
		    	<mat-option name="Response" ngDefaultControl  
		    		*ngFor="let responseOption of responseOptions"		    		 
		    		[value]="responseOption._id">
		      		{{responseOption.responseText}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
          <button 
		    (click)="addAnswer(Question, Response)" 
		    class="btn btn-primary">add
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
