<div class="app-header">angular7demo</div>

<mat-sidenav-container class="app-container">
    
	<mat-sidenav #sidenav mode="side" opened class="app-sidenav">
	
		  <button mat-menu-item [matMenuTriggerFor]="UserMenu">User</button>
		  <button mat-menu-item [matMenuTriggerFor]="ReferrerMenu">Referrer</button>
		  <button mat-menu-item [matMenuTriggerFor]="ReferenceGiverMenu">ReferenceGiver</button>
		  <button mat-menu-item [matMenuTriggerFor]="ReferrerGroupMenu">ReferrerGroup</button>
		  <button mat-menu-item [matMenuTriggerFor]="ReferenceEngineMenu">ReferenceEngine</button>
		  <button mat-menu-item [matMenuTriggerFor]="QuestionMenu">Question</button>
		  <button mat-menu-item [matMenuTriggerFor]="ResponseOptionMenu">ResponseOption</button>
		  <button mat-menu-item [matMenuTriggerFor]="QuestionGroupMenu">QuestionGroup</button>
		  <button mat-menu-item [matMenuTriggerFor]="AdminMenu">Admin</button>
		  <button mat-menu-item [matMenuTriggerFor]="ActivityMenu">Activity</button>
		  <button mat-menu-item [matMenuTriggerFor]="CommentMenu">Comment</button>
		  <button mat-menu-item [matMenuTriggerFor]="AnswerMenu">Answer</button>
		  <button mat-menu-item [matMenuTriggerFor]="ReferenceGroupLinkMenu">ReferenceGroupLink</button>
		
		<mat-menu #UserMenu="matMenu">
	  	<a routerLink="createUser">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexUser">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #ReferrerMenu="matMenu">
	  	<a routerLink="createReferrer">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexReferrer">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #ReferenceGiverMenu="matMenu">
	  	<a routerLink="createReferenceGiver">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexReferenceGiver">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #ReferrerGroupMenu="matMenu">
	  	<a routerLink="createReferrerGroup">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexReferrerGroup">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #ReferenceEngineMenu="matMenu">
	  	<a routerLink="createReferenceEngine">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexReferenceEngine">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #QuestionMenu="matMenu">
	  	<a routerLink="createQuestion">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexQuestion">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #ResponseOptionMenu="matMenu">
	  	<a routerLink="createResponseOption">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexResponseOption">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #QuestionGroupMenu="matMenu">
	  	<a routerLink="createQuestionGroup">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexQuestionGroup">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #AdminMenu="matMenu">
	  	<a routerLink="createAdmin">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexAdmin">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #ActivityMenu="matMenu">
	  	<a routerLink="createActivity">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexActivity">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #CommentMenu="matMenu">
	  	<a routerLink="createComment">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexComment">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #AnswerMenu="matMenu">
	  	<a routerLink="createAnswer">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexAnswer">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
		<mat-menu #ReferenceGroupLinkMenu="matMenu">
	  	<a routerLink="createReferenceGroupLink">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexReferenceGroupLink">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
	
    </mat-sidenav>
	
	<mat-sidenav-content>
		<div class="container" style="padding-top:10px">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
	
</mat-sidenav-container>	