<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
		    <mat-label>dateLinkCreated</mat-label>
		  	<input matInput ngDefaultControl [matDatepicker]="picker" placeholder="dateLinkCreated" name="referenceGroupLink.dateLinkCreated" [(ngModel)]="referenceGroupLink.dateLinkCreated">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-hint></mat-hint>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="referenceGroupLink.name" [(ngModel)]="referenceGroupLink.name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>ReferrerGroup</mat-label>
			<mat-select placeholder="ReferrerGroup"   [compareWith]="compareFn"  [(ngModel)]="referenceGroupLink.ReferrerGroup">
		    	<mat-option name="referenceGroupLink.ReferrerGroup" ngDefaultControl  
		    		*ngFor="let referrerGroup of referrerGroups"		    		 
		    		[value]="referrerGroup._id">
		      		{{referrerGroup.name}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>LinkProvider</mat-label>
			<mat-select placeholder="LinkProvider"   [compareWith]="compareFn"  [(ngModel)]="referenceGroupLink.LinkProvider">
		    	<mat-option name="referenceGroupLink.LinkProvider" ngDefaultControl  
		    		*ngFor="let user of users"		    		 
		    		[value]="user._id">
		      		{{user.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                <button 
		    (click)="updateReferenceGroupLink(referenceGroupLink.dateLinkCreated, referenceGroupLink.name, referenceGroupLink.ReferrerGroup, referenceGroupLink.LinkProvider)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
